<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Virtron - Explore adventures and connections in the metaverse.">
  <link href="/tailwind.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <title><%= title || "My App" %></title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNVR671JK5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNVR671JK5');
</script>
<body class="bg-black text-gray-300 min-h-screen">
  <main>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <script src="script.js"></script>
</body>
</html>
