<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Virtron - Explore adventures and connections in the metaverse.">
  <link href="/tailwind.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <title><%= title || "My App" %></title>
</head>
<body class="bg-black text-gray-300 min-h-screen">
  <main>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <script src="script.js"></script>
</body>
</html>
